<div id="page-content-wrapper">

  <div class="container-fluid">
    <div class="tab-content">
      {{for index,score in scores}}
        <div class="tab-pane {{index == 0 ? "active" : ""}}" id="score{{index}}" role="tabpanel">
          <h3 class="mt-4">{{score.name}}</h3>
          <hr>
          <h5>Reference score</h5>
          <ul class="text-small">
            <li>Variants: {{decimal(score.variants)}}</li>
            <li>Variants ignored: {{decimal(score.variantsIgnored)}}</li>
            {{if score.meta != null}}
              <li>Trait: {{score.meta.trait_reported}}</li>
              {{if score.meta.trait_additional != null}}
                <li>Additional Trait: {{score.meta.trait_additional}}</li>
              {{end}}
              <li>Publication: <a href="https://doi.org/{{score.meta.publication.doi}}" target="_blank">{{score.meta.publication.firstauthor}} et.al, {{score.meta.publication.journal}} ({{score.meta.publication.date_publication}})</a></li>
            {{end}}
            <li>View in <a href="https://www.pgscatalog.org/score/{{score.name}}" target="_blank">PGS-Catalog</a></li>
          </ul>
          <!--<small class="text-muted pull-right">All meta obtained from <a href="https://www.pgscatalog.org">PGS-Catalog</a></small>-->
          <h5>Target study</h5>
          <ul>
            <li>Coverage: {{decimal(score.variantsUsed)}} ({{percentage(score.coverage)}}) <span class="badge badge-{{score.coverageLabel}}">{{score.coverageLabel}}</span> </li>
            {{if (show_samples)}}
            <li>Samples: {{decimal(samples.size())}}</li>
            {{end}}
          </ul>
        </div>
      {{end}}
    </div>
    <div class="row" id="row-plots">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-header">
            Distribution
          </div>
          <div class="card-body mx-0 my-0">
            <div id="plot" style="height:300px">
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <span id="selection-header">Selection (0)</span>
            <div class="btn-group float-right" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-secondary-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="#" id="highlight-selection-button">Highlight all</a>
                <a class="dropdown-item" href="#" id="unhighlight-selection-button">Un-highlight all</a>
              </div>
            </div>
          </div>
          <div class="card-body" style="padding: 0px;">
            <div style="height:300px; overflow-y: scroll;">
              <table class="table table-sm table-striped" id="selection-table">
                <thead>
                  <tr>
                    <th scope="col">Sample</th>
                    <th scope="col">Score</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
